<h1>Class</h1>
<p>Type: <%= @gymclass.type %></p>
<% for venue in @venues%>
  <% if venue.id == @gymclass.venue_id %>
<p>Location: <%= venue.location %></p>
<p>Venue: <%= venue.name %></p>
<%end%><%end%>
<p>Time: <%=@gymclass.time%></p>

<form action="/classes/<%= @gymclass.id %>/edit">
<input type="submit" value= "Edit"></form>

<form action = "/classes/<%=@gymclass.id%>/delete" method = "POST">
<input type="submit" value="Delete" >
</form>
<div>
<h2>Students</h2>


<ul>
  <li>
  <% for student in @students  do%>
  <p><%= student.full_name%></p>
  <p>Age: <%=student.age %></p>
  <p>Gender: <%=student.gender %></p>
  <form action = "/register/<%=student.id%>/delete" method = "POST">
  <input type="submit" value="Delete" >
  <hr/>    
  </li><%end%>
</ul>


</div>




