<form method= "POST" action = "/classes/<%= @gymclass.id %>">
  
  <H3>Update Class</H3>
  
  <label for="name">Type:</label>
  <input
  type="text"
  id="type"
  name="type"
  value="<%= @gymclass.type %>"/>

  <label for="time">Time:</label>
  <input type="text"
  id="time"
  name="time"
  value="<%= @gymclass.time %>"/>


  <label for="venue_id">Venue ID:</label>
  <select id="venue_id" name="venue_id">
  <% for venue in @venues%>
    <option value = "<%= venue.id%>"><%= venue.name%></option>
    <%end%>

  <input type="submit" value="Update"/>

</form>